# 공공데이터 상권정보 분석

## 필요한 라이브러리

In [1]:
import pandas as pd
# 수치화
import numpy as np
# 시각화
import seaborn as sns

## 시각화를 위한 폰트 설정

In [2]:
import matplotlib.pyplot as plt
# window의 한글 설정
plt.rc('font',family='Malgun Gothic')

# 그래프가 노트북 안에 보이게 하기 위해
%matplotlib inline

In [3]:
from IPython.display import set_matplotlib_formats
# 폰트가 선명하게 보이기 위해
set_matplotlib_formats('retina')

## 데이터 로드하기

### 판다스에서 데이터를 로드할 때는 read_csv를 사용
### 데이터를 로드해서 df라는 변수에 넣음.
### shape를 통해 데이터의 개수를 찍고, 결과는 (행,열) 순으로 출력

In [8]:
# read_csv로 불러온 파일을 df 라는 변수에 넣음.
# csv파일을 켜서 한글이 안보인다고 unicode로 바꾸면 안됨.
df = pd.read_csv("Data/상가업소정보_의료기관_201909.csv",low_memory=False)
df.shape
# (91335,39) -> (행,열)

(91335, 39)

## 데이터 미리보기

### head, tail을 통해 데이터를 미리 볼 수 있다.

In [10]:
# head로 데이터를 미리보기
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19956873,하나산부인과,NaN,S,의료,S01,병원,S01B10,산부인과,Q86201,...,4127310900110810000010857,산호한양아파트,경기도 안산시 단원구 달미로 10,425764.0,15236.0,NaN,NaN,NaN,126.814295,37.336344
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4,NaN,127.053198,37.488742
2,20152277,조정현신경외과의원,NaN,S,의료,S01,병원,S01B15,신경외과,Q86201,...,4139013200117400001017064,한라프라자,경기도 시흥시 중심상가로 178,429450.0,15066.0,NaN,NaN,NaN,126.734841,37.344955
3,20350610,한귀원정신과의원,NaN,S,의료,S01,병원,S01B99,기타병원,NaN,...,2650010400100740001009932,NaN,부산광역시 수영구 수영로 688,613100.0,48266.0,NaN,5,NaN,129.115438,35.166872
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1,NaN,127.095522,37.323528